body{
    background-image:linear-gradient(to left top,greenyellow,darkolivegreen);
    font-size:1.5rem;
    height: 100vh;
    width: 100vw;
    font-family:"calibri", sans-serif;
    display:flex;
    justify-content: center;
    align-items:center;
}

h1{
    color: darkslategray;
}

.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    padding: 2px 10px 2px 10px;
    background-color:lavender;
    border-bottom-style: dot-dash;
}
