<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Free money </title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>
    <!-- TODO User should be able to submit data -->
    <section class="content">
            <h1>🤑 Free moneyy no scam - very easy</h1>
            <form method="POST" action="/test">
                <label for="email">🥳 Please enter your e-mail</label>
                <input id="email" type="text" name="email"/>
                <input type="submit">
            </form>
    </section>
</body>
</html>
